@font-face {
  font-family: 'DIN Condensed Bold';
  src: url('../fonts/DINCondensed-Bold.eot');
  src: url('../fonts/DINCondensed-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINCondensed-Bold.woff') format('woff'),
  url('../fonts/DINCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Bold';
  src: url('../fonts/DINNextLTPro-Bold.eot');
  src: url('../fonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINNextLTPro-Bold.woff') format('woff'),
  url('../fonts/DINNextLTPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro';
  src: url('../fonts/DINNextLTPro-Regular.eot');
  src: url('../fonts/DINNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINNextLTPro-Regular.woff') format('woff'),
  url('../fonts/DINNextLTPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Light Condensed';
  src: url('../fonts/DINNextLTPro-LightCondensed.eot');
  src: url('../fonts/DINNextLTPro-LightCondensed.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINNextLTPro-LightCondensed.woff') format('woff'),
  url('../fonts/DINNextLTPro-LightCondensed.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Light';
  src: url('../fonts/DINNextLTPro-Light.eot');
  src: url('../fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINNextLTPro-Light.woff') format('woff'),
  url('../fonts/DINNextLTPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN Next LT Pro Medium';
  src: url('../fonts/DINNextLTPro-Medium.eot');
  src: url('../fonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/DINNextLTPro-Medium.woff') format('woff'),
  url('../fonts/DINNextLTPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

