span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, p {
  font-family: 'DIN Next LT Pro', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  a {
    text-decoration: none;
  }
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h1, .page-title h1, .article-header, .article-header h2, .entry-title {
  font-family: 'DIN Next LT Pro';
}

.single-title {
  font-size: 2.3em;
  font-family: 'DIN Next LT Pro';
  font-weight: bold;
}
